@charset "UTF-8";
@font-face {
    font-family: 'vipnagorgialla';
    src: url(../fonts/vipnagorgialla\ bd.otf);
}
@font-face {
    font-family: 'Roboto';
    src: url(../fonts/Roboto-BlackItalic.ttf);
}
@font-face {
    font-family: 'Roboto-Bold';
    src: url(../fonts/Roboto-Bold.ttf);
}

* {
    margin: 0px;
    padding: 0px;
    list-style: none;
}
a {
    text-decoration: none;
    color: #C1C1C1;
}
body {
    max-width: 500px;
    margin: auto;
    padding: 10px;
}
header {
    font-family: 'vipnagorgialla',Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
    padding: 10px;
    background-color: #000E14;
    color: aliceblue;
}
header nav ul {
    display: flex;
    margin: 5px;
    background-color: #003047;
    border-radius: 5px;
}
header nav ul > li {
    padding: 10px;
    margin: auto;
}
ul li > a.selecionar {
    color: #C1C1C1;
}    
div {
    overflow: auto;
    margin: auto;
    padding: 10px;
}
main {
    background-color: #000E14;
}
table {
    width: 480px;
    border: 1px solid #2D2D2A;
    margin: auto;
    padding: 10px;
    background-color: white;
}
table thead {
    background-color: #001824;
}
table thead tr > th {
    padding: 5px;
    color: #C1C1C1;
    font-family: 'Roboto-Bold',Arial, Helvetica, sans-serif;
}
table tbody tr > th {
    padding: 5px;
    border: 1px solid #2D2D2A;
    font-family: 'Roboto',Arial, Helvetica, sans-serif;
}
table tbody tr > td {
    padding: 5px;
    border: 1px solid #2D2D2A;
    text-align: center;
    font-family: 'Roboto',Arial, Helvetica, sans-serif;
}
table tfoot tr > th#resultado {
    padding: 5px;
    color: #C1C1C1;
    background-color: #001824;
    font-family: 'Roboto-Bold',Arial, Helvetica, sans-serif;
}
table tfoot tr > th.gasto {
    padding: 5px;
    border: 1px solid #2D2D2A;
    text-align: center;
    font-family: 'Roboto',Arial, Helvetica, sans-serif;
}
table tfoot tr > td {
    padding: 5px;
    border: 1px solid #2D2D2A;
    text-align: center;
    font-family: 'Roboto',Arial, Helvetica, sans-serif;
}
table tbody tr:nth-child(odd) {
    background-color: #003d5c1f;;
}